<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="es">
    <head th:replace="/layout :: head"></head>
    <body>
        <header th:replace="/layout :: header"></header>
        <div th:replace="/layout :: errordisplay"></div>
        <div th:replace="/layout :: successdisplay"></div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Telefono Uno</th>
                    <th>Telefono Dos</th>
                    <th>Alumno</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="autorizados : ${autorizados}">
                    <td th:text="${autorizados.nombre}"></td>
                    <td th:text="${autorizados.apellido}"></td>
                    <td th:text="${autorizados.dni}"></td>
                    <td th:text="${autorizados.telefono1}"></td>
                    <td th:text="${autorizados.telefono2}"></td>
                    <td th:text="${autorizados.alumno.nombre} + ' ' + ${autorizados.alumno.apellido}"></td>
                    <td><a th:href="@{/autorizados/baja(id=${autorizados.id})}"><i
                                class="fa fa-window-close"></i></a> - <a
                            th:href="@{/autorizados/modificar(id=${autorizados.id})}"><i
                                class="fa fa-edit"></i></a></td>
                </tr>
            </tbody>
        </table>
        <footer th:replace="/layout :: footer"> </footer>
    </body>
</html>